@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
.glow {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: glow;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: glow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px blue;
  }
  to {
    text-shadow: 0 0 20px blue;
  }
}
#hit img:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#heal img:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#shield img:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#special img:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#fire img:hover, #water img:hover, #wind img:hover, #earth img:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}

.p1 {
  border: 5px solid blue;
}

.p2 {
  border: 5px solid red;
}

.scale {
  transform: scale(1.2);
  transition: 0.2s;
}

#selector {
  height: 100vh;
}

.selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selector img {
  margin: 5px;
  width: 10rem;
  height: 8rem;
  border: 3px solid white;
}

.characters {
  display: flex;
  width: 50%;
}

.vs-img {
  padding: 5rem;
}

.vs-img img {
  border: none;
}

#choose-item {
  height: 100vh;
}

.items-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.items-main img {
  width: 8rem;
  height: 8rem;
  border: none;
  margin-right: 1rem;
}

.items {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#loading {
  background: #759887;
  height: 100vh;
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  align-items: flex-end;
}

.loading img {
  margin-bottom: 2rem;
}

.loading span {
  position: absolute;
  color: white;
  font-size: 2rem;
  font-family: "Press Start 2P", cursive;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#arena {
  background-image: url(../img/arena-background.jpg);
  height: 100vh;
  background-size: cover;
}

.space {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40vh;
}

.p1-interface {
  box-shadow: inset 0 0 2rem 1rem black;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  background: rgba(34, 34, 34, 0.6);
}

.p1-avatar {
  width: 17rem;
  height: 29vh;
  border: 1px solid white;
}

.p1-avatar img {
  width: 17rem;
  height: 27vh;
}

#p1-health-bar {
  width: 100%;
}

.p1-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17rem;
  height: 29vh;
  border: 1px solid white;
}

.p1-item img {
  width: 10rem;
  height: 10rem;
}

.p2-interface {
  box-shadow: inset 0 0 2rem 1rem black;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  background: rgba(34, 34, 34, 0.6);
}

.p2-avatar {
  width: 17rem;
  height: 29vh;
  border: 1px solid white;
}

.p2-avatar img {
  width: 17rem;
  height: 27vh;
}

#p2-health-bar {
  width: 100%;
}

.p2-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17rem;
  height: 29vh;
  border: 1px solid white;
}

.p2-item img {
  width: 10rem;
  height: 10rem;
}

.icons {
  height: 5rem;
  width: 5rem;
}

#log-chat {
  display: flex;
  flex-direction: column-reverse;
  background: rgba(34, 34, 34, 0.8);
  box-shadow: inset 0 0 2rem 1rem black;
  color: white;
  width: 50%;
  height: 40vh;
  border: 1px solid black;
  overflow-x: hidden;
}

#p1-healthText {
  color: white;
  font-size: 3rem;
}

#p2-healthText {
  display: flex;
  align-items: flex-end;
  position: absolute;
  color: white;
  font-size: 3rem;
  height: 70vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background: #759887;
  background: linear-gradient(50deg, #759887 4%, #759887 5%, #2c462d 6%, #213022 100%);
}

button {
  background: none;
  border: none;
  outline: none;
}

.cool {
  margin: 0;
  font-size: 5rem;
  text-align: center;
  font-family: "Fredericka the Great", cursive;
  color: white;
}

.border {
  border: 1px solid white;
}

.scroll {
  display: flex;
  justify-content: space-around;
  background: none;
}

#versus {
  display: none;
  width: 100vw;
  height: 100vh;
  cursor: url(..img/cursor.png);
}

.left {
  background: url(../img/narutobg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  transition: 0.5s;
}

.left img {
  width: 100%;
  height: 100%;
}

.right {
  background: url(../img/susanoo.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  transition: 0.5s;
}

.right img {
  width: 100%;
  height: 100%;
}

.vs {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.vs img {
  margin: 0 auto;
}

.lightning {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  transition: 3s;
}

.lightning img {
  margin: 0 auto;
  width: 20%;
  height: 100vh;
}

#choose-item {
  display: none;
}

#loading {
  display: none;
}

#arena {
  display: none;
}

/*# sourceMappingURL=style.css.map */
