////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///Character selector section Start
#selector{
    height: 100vh;
}
.selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.selector img{
    width: 10rem;
    height: 8rem;
    border: 3px solid white;
}
.characters{
    display: flex;
    width: 50%;
}
.vs-img{
    padding: 5rem;
}
.vs-img img{
    border: none;
}

///Character selector section End
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///Item selector section Start
#choose-item{
    height: 100vh;
}
.items-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.items-main img{
    width: 8rem;
    height: 8rem;
    border: none;
    margin-right: 1rem;
}
.items{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
///Item selector section End
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///Versus section Start



///Versus section End
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///Loading section Start

#loading{
    background: #759887;
    height: 100vh;
}
.loading{
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
}
.loading img{
    margin-bottom: 2rem;
}
.loading span{
    position: absolute;
    color: white;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
}
///Loading section End
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///Arena section Start
.wrapper{
    display: flex;
    flex-direction: column;
}
#arena{
    background-image: url(../img/arena-background.jpg);
    height: 100vh;
    background-size: cover;
}
.space{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
}
///Player-1
.p1-interface{
    box-shadow: inset 0 0 2rem 1rem black;
    display: flex;
    justify-content: space-between;
    height: 30vh;
    background: rgba($color: #222, $alpha: 0.6);
}
.p1-avatar{
    width: 17rem;
    height: 29vh;
    border: 1px solid white;
}
.p1-avatar img{
    width: 17rem;
    height: 27vh;
}
#p1-health-bar{
    width: 100%;
}
.p1-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 29vh;
    border: 1px solid white;
}
.p1-item img{
    width: 10rem;
    height: 10rem;
}
///Player-2
.p2-interface{
    box-shadow: inset 0 0 2rem 1rem black;
    display: flex;
    justify-content: space-between;
    height: 30vh;
    background: rgba($color: #222, $alpha: 0.6);
}
.p2-avatar{
    width: 17rem;
    height: 29vh;
    border: 1px solid white;
}
.p2-avatar img{
    width: 17rem;
    height: 27vh;
}
#p2-health-bar{
    width: 100%;
}
.p2-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 29vh;
    border: 1px solid white;
}
.p2-item img{
    width: 10rem;
    height: 10rem;
}
///Arena section End
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.icons{
    height: 5rem;
    width: 5rem;
}
#log-chat{
    display: flex;
    flex-direction: column-reverse;
    background:rgba($color: #222, $alpha: 0.8);
    box-shadow: inset 0 0 2rem 1rem black;
    color: white;
    width: 50%;
    height: 40vh;
    border: 1px solid black;
    overflow-x: hidden;
}
#p1-healthText{
    color: white;
    font-size: 3rem;
}
#p2-healthText{
    display: flex;
    align-items: flex-end;
    position: absolute;
    color: white;
    font-size: 3rem;
    height: 70vh;
}