#versus{
    display: none;
    width: 100vw;
    height: 100vh;
    cursor: url(..img/cursor.png);

}
.left{
    background: url(../img/narutobg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition: .500s;
}
.left img{
    width: 100%;
    height: 100%;
}
.right{
    background: url(../img/susanoo.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition: .500s;
}
.right img{
    width: 100%;
    height: 100%;
}
.vs{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
}
.vs img{
    margin: 0 auto;
}
.lightning{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transition: 3s;
}
.lightning img{
    margin: 0 auto;
    width: 20%;
    height: 100vh;
}